.Signup {
  margin-top: -50px !important;
}

.SignupForm {
  padding-top: 50px !important;
  input {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    width: 90% !important;
  }
}

@media screen and (min-width: 1000px) {
  .SignupForm {
    margin-left: 11% !important;
    input[name='username'],
    input[name='email'] {
      width: 95% !important;
    }
  }
}
