@import '../../assets/css/_radius';

.bookmark {
  button {
    padding: 8px 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    @extend .radius-4;
  }
  .card-info span {
    padding: $xsmall ($large/2) $xsmall 0;
  }
}

.wrap-bookmark {
  position: relative;
  .error-message {
    position: absolute;
    text-align: right;
    top: 30px;
    right: 8px;
    min-width: 300px;
  }
}
