@import '../../../assets/css/_colors.scss';
@import '../../../assets/css/_pixels.scss';
.grabTags {
  border-bottom: 1px solid $grey;
}

.tagsMenu {
  padding: ($xsmall * 1.5) 0;
}
.tagsMenu li {
  padding: auto 0.4em;
}
.tagsMenu a {
  padding: 0.5em;
  font-size: 1em;
}
