@import '../../../assets/css/_colors.scss';
@import '../../../assets/css/_pixels.scss';
@import '../../../assets/css/_shadow.scss';
.grab-tags {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.tags-menu {
  padding: ($xsmall * 1.5) 0;
}
.tags-menu li {
  padding: auto 0.4em;
}
.tags-menu a {
  padding: 0.5em;
  font-size: 1em;
}
