@import '../../../assets/css/pixels.scss';
@import '../../../assets/css/colors.scss';
@import '../../../assets/css/shadow.scss';
@import '../../../assets/css/radius.scss';
@import '../../../assets/css/padding.scss';

.LikeButton {
  button {
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -2px;
    margin-left: 5px;
    border: solid 0.5px #ccc;
  }

  .number {
    padding: 7.5px 7px 6px 7px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 1px #ccc;
  }
}
