$black: #101010;
$light: #f4f4f4;
$grey: #42413e;
$white: #ffffff;
$primary: #282667;
$secondary: #1843b8;
$danger: #d64c4c;
$success: #1c8a4a;
$info: #1cbdee;
$light-grey: #ccc;
$light-grie: rgb(161, 159, 159);
$light-grey: #e6e6e6;
$yellow: #f9d342;
$light-yellow: #fcf5da;
$light-red: #f8e5e3;
$light-red-hover: #f8d1cd;
/* background anim colors */
$anim-palette-1: #ffb426;
$anim-palette-2: #0e152e;
$anim-palette-3: #420d3b;
$anim-palette-4: #1a1549;
$anim-palette-5: #bd243e;
$twitter-color: #50abf1;

/* colors */
.black {
  background: $black;
}
.text-black {
  color: $black;
}
.yellow {
  background: $yellow;
}
.light-red {
  background: $light-red;
}
.light-red:hover {
  background: $light-red-hover;
}
.twitter-color {
  background: $twitter-color;
}
.text-yellow {
  color: $yellow;
}
.light {
  background: $light;
}
.text-light {
  color: $light;
}
.grey {
  background: $grey;
}

.light-grey {
  background: $light-grey;
}
.text-grey {
  color: $grey;
}
.text-light-grie {
  color: $light-grie;
}
.white {
  background: $white;
}
.text-white {
  color: $white;
}
.primary {
  background: $primary;
}
.text-primary {
  color: $primary;
}
.secondary {
  background: $secondary;
}
.text-secondary {
  color: $secondary;
}
.danger {
  background: $danger;
}
.text-danger {
  color: $danger;
}
.success {
  background: $success;
}
.text-success {
  color: $success;
}
.info {
  background: $info;
}
.text-info {
  color: $info;
}
