h1,
h2,
h3,
h4,
h5 {
  margin: ($small / 2) 0;
}
h1 {
  font-size: $large;
}
h2 {
  font-size: ($medium * 3)/2;
}
h3 {
  font-size: ($small / 2) 0;
}
h4 {
  font-size: ($small / 2) 0;
}
h5 {
  font-size: ($small / 2) 0;
}
