@import '../../../assets/css/pixels.scss';
@import '../../../assets/css/colors.scss';
@import '../../../assets/css/shadow.scss';
@import '../../../assets/css/radius.scss';
@import '../../../assets/css/padding.scss';

@media screen and (max-width: 760px) {
  .Alert {
    margin-left: 9% !important;
  }
}

@media screen and (min-width: 761px) {
  .Alert {
    margin-left: 25.4% !important;
  }
}

@media screen and (min-width: 1000px) {
  .Alert {
    margin-left: 36% !important;
  }
}

.Alert {
  z-index: 123456;
  margin: auto;
  position: fixed;
  left: 0;
  top: 50px;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 30px !important;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  @extend .shadow-2, .text-white, .large-padding, .radius-1;
  p {
    padding-right: 10%;
    margin: 2px;
  }
}

.Alert {
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }
}
