@import '../../../../assets/css/_padding';
@import '../../../../assets/css/_colors';
@import '../../../../assets/css/_shadow';
#editArticle,
#createArticle {
  textarea[name='title'] {
    border: 0 !important;
    font-size: 40px;
    padding: 0 !important;
  }
  textarea[name='description'] {
    border: 0 !important;
    font-size: 30px;
    padding: 0 !important;
  }
  textarea[name='body'] {
    border: 0 !important;
    font-size: 20px;
    padding: 0 !important;
  }
  .input-field input:focus,
  .input-field textarea:focus {
    outline-width: 0;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .box {
    margin-bottom: $medium;
    border: 1px solid $light;
    padding: $small/2;
    @extend .shadow-1;
  }
}
/* 
.DraftEditor-root {
  min-height: 300px !important;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #e9e9e9;
  a {
    color: #8a3636;
  }
  a:hover {
    color: #8a3636;
    text-decoration: underline !important;
  }
} */
