.ResetPassword {
  margin-top: -50px !important;
}

.ResetPasswordForm {
  padding-top: 50px !important;
  input {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    width: 90% !important;
  }
}

@media screen and (min-width: 1000px) {
  .ResetPasswordForm {
    margin-left: 11% !important;
  }
}
