@import '../../assets/css/_colors';
@import '../../assets/css/_padding';
@import '../../assets/css/_pixels';
@import '../../assets/css/_shadow';
@import '../../assets/css/_padding';
#footer {
  width: 100%;
  margin-top: 80px;
  padding: 90px 0;
  background: black;
  background-repeat: no-repeat;
  background-position: center top;
}
