@import '../../../assets/css/_pixels';
#articleCard {
  .card-info {
    padding: $medium 0;
  }
  .loading-article {
    animation: loading-article 2s infinite;
  }
  @keyframes loading-article {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.2;
    }
  }
  .card-info span {
    padding: $xsmall ($large/2) $xsmall 0;
  }
  .pagination {
    padding: 20px 0;
  }
  .pagination ul {
    display: inline-block;
    li {
      padding: 2px;
      margin: 0 4px;
      float: left;
      display: inline-block;
      background: #efefef;
      cursor: pointer;
      a {
        padding: 10px;
        float: left;
      }
    }
  }
}
